@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0%;
    padding: 0%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
body
{
    
background-color: rgb(177, 177, 177)
}
.container
{
    display: flex;
    flex-direction: column;
    max-width:70%;
    margin: 0% 25% ;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:ghostwhite;
    border-radius: 8px;
   

    
}
.header
{
    padding: 4px;
    min-width:90%;
    background-color: rgb(17, 43, 92);
    color: rgb(182, 182, 182);border-radius: 8px;
}
.list{
    height: 90vh;
    width:90%;
    border: 4px solid chartreuse;border-radius: 8px;
    overflow-y:scroll;
    
}
.remove
{
    position: relative;
    max-width:60px;
    top: -20%;
    left: 90%;
    background-color: red;

}
.item
{
    
    font-size: 20px;
    min-height: 20vh;
    background-color: chartreuse;
    

}
.addb
{
    font-size: 30px;
    background-color: blue;
    height: 40px;
    width: 40px;
    color: azure;
    clip-path:circle();
    position: absolute;
    top: 80%;
    left: 68%;
    text-align: center;
}
.addb:hover
{
    height: 50px;
    width: 50px;
    left: 68%;
    

    transition: 0.5s ease;
    
}
.form
{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    height:120px ;
    width: 200px;
    background-color: rgb(235, 78, 78);
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
    transition: 0.5s ease;

}
.form input
{
    width: 180px;
    border: 4px solid coral;
    border-radius: 7px;
}

.fadein
{
    opacity: 1;
    transition: 0.5s ease;
}
.fadeout
{
    opacity: 0;
    transition: 0.5s ease;
}